.dashboard-container {
    padding: 24px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

.empty-card {
    margin-top: 16px;
    text-align: center;
}

mat-form-field {
    width: 150px;
}